body{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    color: blue;
    background-color: bisque;
    text-align: center;
}

h2{
    margin-bottom: 0;
    font-size: 22px;
}

p{
    font-size: 14px;
    margin-top: 3px;
    text-align: center;
}

ol, ul {
    margin-top: 5px;
}

li{
    margin-top: 0px;
    font-size: 14px;
}

#desc{
    text-align: center;
}

#image{
    display: flex;
    justify-content: center;
}

img {
    height: 200px;
    width: auto;
}